<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      >Peliculas</a
    >
    <span class="navbar-toggler-icon"></span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input
          #txtBuscar
          (keyup.enter)="buscarPelicula(txtBuscar.value)"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          (click)="buscarPelicula(txtBuscar.value)"
          class="btn btn-outline-success"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
