<div class="row">
  <div class="col-md-3 mb-5" *ngFor="let movie of movies">
    <img
      [src]="movie.poster_path | poster"
      class="img-fluid"
      (click)="onMovieClick(movie)"
    />

    <h3>{{ movie.title }}</h3>
    <star-rating
      [value]="movie.vote_average"
      totalstars="10"
      checkedcolor="yellow"
      uncheckedcolor="black"
      size="15px"
      readonly="false"
    ></star-rating>

    <div class="col-2 text-white">
      {{ movie.vote_average | number: "1.1-2" }}
    </div>
  </div>

  <div></div>
</div>
